*{
    font-family: sans-serif;
    letter-spacing: 1px;
}
.description p{
    font-family: sans-serif;
}
body{
    margin: 0;
    font-family: Arial,sans-serif;
    }
    svg{
    width: 30px;
    }
    a{
    text-decoration: none;
    color: #2f2f2f;
    }
    button{
        bottom: 0;
    cursor: pointer;
    }
    .logo{
        width: 70px;
        border-radius: 50px;
    }
    .container{
        width: 900px;
        max-width: 90vw;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        transition: 0.5s;
        }
        header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        }
        .icon-cart{
        position: relative;
        }
        .icon-cart span{
            background-color: red;
            position: absolute;
            top: 50%;
            right: -20px;
            width: 30px;
            height: 30px;
            color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            }
            .title{
            font-size: xx-large;
            }
            .cartTab{
                background-color: #353432;
                color: #eee;
                width: 400px;
                max-width: 100%;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                display: grid;
                grid-template-rows: 70px 1fr 70px;
                }
                .cartTab h1{
                padding: 20px;
                margin: 0;
                font-weight: 300;
                }
                .cartTab .btn{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    
                    }
                    .cartTab .btn button{
                    background-color: #E8BC0E;
                    border: none;
                    font-family: Poppins;
                    font-weight: 500;
                    padding: 20px;
                   
                    }
                    .cartTab .btn button.close{
                        background-color: #eee;
                        }
                        .cartTab .listCart{
                        overflow: auto;
                        }
                        .cartTab .listCart::-webkit-scrollbar{
                        width: 0;
                        }
                        .cartTab{
                        right: -400px;
                        transition: 0.5s;
                        }

                            body.activeTabCart .cartTab{
                            right: 0;
                            }
                            
                            body.activeTabCart .container{
                            transform: translateX(-250px);
                            }
                            .listProduct .item img{
                                width: 200px;
                                border-radius: 10px;
                                height: 320px;
                                filter: drop-shadow(
                                0 50px 20px #0009
                                );
                                }
                                .listProduct{
                                display: grid;
                                grid-template-columns: repeat(4, 1fr);
                                gap: 20px;
                                }
                                .listProduct .item{
                                background-color: #eeeee6;
                                padding: 20px;
                                border-radius: 20px;
                                }
                                .listProduct .item h2{
                                font-weight: 500;
                                font-size: large;
                                }
                                .listProduct .item .price{
                                    letter-spacing: 7px;
                                    font-size: small;
                                    }
                                    .listProduct .item button{
                                    background-color: #353432;
                                    color: #eee;
                        
                                    border: none;
                                    padding: 5px 10px;
                                    margin-top: 10px;
                                    border-radius: 20px;
                                    }

.listCart .item img{

width: 100%;
}
.listCart .item{
display: grid;
grid-template-columns: 70px 150px 50px 1fr;
gap: 10px;
align-items: center;
text-align: center;
}
.listCart .item .quantity{
display: flex;
}
.listCart .item .quantity span{
width: 25px;
height: 25px;
background-color: #eee;
color: #000;
border-radius: 50%;
cursor: pointer;
}
img{
    width: 200px;
}
.listCart .item .quantity span:nth-child(2){
    background-color: transparent;
    color: #fff;
    }
    .listCart .item:nth-child(2){
        background-color: #eee1;
    }
    /*details*/
    .addCart{
        color: #eee;
    }
 
    .detail{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        text-align: left;
    }
        .detail .image img{
        width: 400PX;
        }
        .detail .image{
        position: relative;
        }
        .detail .image::before{
        position: absolute;
        width: 300px;
        height: 300px;
        content: '';
        background-color: #94817733;
        z-index: -1;
        border-radius: 190px 100px 170px 180px;
        left: calc(58% 158px);
        top: 50px;
}
.detail .name {
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
    .detail .price{
    font-weight: bold;
    font-size: x-large;
    Letter-spacing: 7px;
    margin-bottom: 20px;
    }
    .detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-size: large;
    }
    .detail .fa-solid{
    width: 15px;
    color: #eee;
    }
    .fa-cart-shopping{
        color: #eee;
    }
    .buttons{
        display: flex;
        align-items: center;
    }
    .detail .buttons button:nth-child(2){
        background-color: #2f2f2f;
        color: #eee;
        display: inline-flex;
        gap: 20px;
        box-shadow: 0 10px 20px #2f2f2f77;
    }

    /* responsive */
@media screen and (max-width: 992px){
    .listProduct{
    grid-template-columns: repeat(3, 1fr);
    }
    }
    @media screen and (max-width: 767px){
    .listProduct{
    grid-template-columns: repeat(2, 1fr);
    }
    .detail{
    grid-template-columns: 1fr;
    text-align: center;
    }
    .detail.image img{
    width: unset;
    height: 40vh;
    }
    .detail.name{
    font-size: x-large;
    margin: 0;
    }
    .detail .buttons button{
        font-size: small;
    }
}